[Desktop Entry]
Type=Application
Exec=gnome-terminal --geometry 120x40
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=gnome-terminal
Name=gnome-terminal
Comment[en_US]=
Comment=
